<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Create New Project</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<div class="container my-3">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <h2>Create New Flight</h2>

      <form th:action="@{/save-project}" th:object="${airport}" method="post">
        <ul th:if="${#fields.hasErrors('*')}">
          <li th:each="error : ${#fields.errors('*')}" th:text="${error}">error</li>
        </ul>
        <div class="form-row">
          <div class="col-md-6 form-group">
            <label>Airport from (IATA code) : </label>
            <input type="text" class="form-control" th:field="*{airportFrom}">
          </div>
          <div class="col-md-6 form-group">
            <label>Airport to (IATA code) : </label>
            <input type="text" class="form-control" th:field="*{airportTo}">
          </div>
          <div class="col-md-6 form-group">
            <label>Date of leaving : </label>
            <input type="date" class="form-control" th:field="*{dateFrom}">
          </div>
          <div class="col-md-6 form-group">
            <label>Date of return : </label>
            <input type="date" class="form-control" th:field="*{dateTo}">
          </div>
          <div class="col-md-6 form-group">
            <label>Number of passengers : </label>
            <input type="number" step="any" class="form-control" th:field="*{numberOfPassengers}">
          </div>
          <div class="col-md-6 form-group">
            <label>Currency : </label>
            <input type="text" class="form-control" th:field="*{currency}">
          </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block mt-3">Save Flight</button>
      </form>
    </div>
  </div>
</div>
</body>
</html>