<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Create New Project</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<div class="container my-3">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <h2>Flight offer searcher</h2>
      <form th:action="@{/save-project}" th:object="${airportTableForm}" method="post">
        <div class="form-row">
          <div class="col-md-6 form-group">
            <label>Airport from (IATA code) : </label>
            <input type="text" class="form-control" required maxlength="3" th:field="*{airportFrom}">
          </div>
          <div class="col-md-6 form-group">
            <label>Airport to (IATA code) : </label>
            <input type="text" class="form-control" required maxlength="3" th:field="*{airportTo}">
          </div>
          <div class="col-md-6 form-group">
            <label>Date of leaving : </label>
            <input type="date" class="form-control" th:field="*{departureDate}">
          </div>
          <div class="col-md-6 form-group">
            <label>Date of return : </label>
            <input type="date" class="form-control" th:field="*{returnDate}">
          </div>
          <div class="col-md-6 form-group">
            <label>Number of passengers : </label>
            <input type="number" step="any" class="form-control" min="1" max="20" placeholder="1" th:field="*{numberOfPassenger}">
          </div>
          <div class="col-md-6 form-group">
            <label> Currency : </label>
            <br>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" th:field="*{currency}" id="option1" value="EUR">
              <label class="form-check-label" for="option1">EUR</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" th:field="*{currency}" id="option2" value="HRK">
              <label class="form-check-label" for="option2">HRK</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" th:field="*{currency}" id="option3" value="USD">
              <label class="form-check-label" for="option3">USD</label>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block mt-3">Save Flight</button>
      </form>
    </div>
  </div>
</div>
</body>
</html>