<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        h1 {text-align: center;}
        .myDiv {
            background-color: gainsboro;
        }
    </style>
    <meta charset="UTF-8">
    <title>My index page</title>
</head>
<body>
<div class="myDiv">
    <h1> This is the name of this page</h1>
</div>

<form action="/action_page.php">
    <label>Airport from : </label><br>
    <input type="text" id="IATAfrom" name="Airport from : "><br>
    <label>Airport to : </label><br>
    <input type="text" id="IATAto" name="Airport to : "><br>
    <label>Date from :</label><br>
    <input type="date" name="dateFrom"><br>
    <label> Date to :</label><br>
    <input type="date" name="dateTo"><br>
    <label>Number of passengers : </label><br>
    <input type="text" id="numberOfPassenger" name="Number of passengers : "><br>
    <label>Currency : </label><br>
    <input type="text" id="currency" name="Currency : "><br><br>
    <input type="submit" value="Submit">
    <input type="reset">
</form>


</body>
</html>